@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layoutold.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2 class="text-success text-center">Giới thiệu</h2>
        <p class="text-success text-center">Chúng tôi là nhà hàng Thanh Lương phục vụ món Việt kết hợp hiện đại từ năm 2000.</p>

        <img src="~/img/Nha hang chay.jpg" class="img-fluid my-4 rounded" alt="Nhà hàng Thanh Lương" />

        <h3>Sứ mệnh của chúng tôi</h3>
        <ul>
            <li>Đem đến những món ăn chay ngon và bổ dưỡng.</li>
            <li>Sử dụng nguyên liệu tự nhiên, không chất bảo quản.</li>
            <li>Lan tỏa lối sống xanh và lành mạnh đến cộng đồng.</li>
        </ul>


    </div>
</body>
</html>
