<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Giới thiệu</h2>
        <p>Chúng tôi là nhà hàng ABC phục vụ món Việt kết hợp hiện đại từ năm 2000.</p>

        @RenderBody()
    </div>
</body>
</html>
