<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Liên hệ</h2>
        <p>Địa chỉ: 123 Lê Lợi, TP.HCM</p>
        <p>Điện thoại: 0909 999 999</p>
        @RenderBody()
    </div>
</body>
</html>
