@model IEnumerable<Cuahangchay.Models.MonChay>

<h2>Danh sách món chay</h2>

<ul>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <li>@item.TenMon - @item.Gia VND</li>
        }
    }
    else
    {
        <li>Không có món chay nào.</li>
    }
</ul>