@model KhachHang
@{
    ViewData["Title"] = "Đặt bàn";
}
<h2>Đặt bàn</h2>
<form method="post">
    <div class="mb-3">
        <label>Họ tên</label>
        <input asp-for="TenKH" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Điện thoại</label>
        <input asp-for="SoDienThoai" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Ngày giờ</label>
        <input asp-for="Email" type="datetime-local" class="form-control" />
    </div>
    <button class="btn btn-success">Gửi</button>
</form>
