<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>Đặt bàn thành công!</h2>
        <p>Chúng tôi sẽ liên hệ bạn sớm nhất.</p>
        @RenderBody()
    </div>
</body>
</html>
