@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

<ul class="navbar-nav">
    @if (User?.Identity?.IsAuthenticated == true)
    {
        // Hiển thị khi người dùng đã đăng nhập
        <li class="nav-item">
            <span class="nav-link text-dark">Chào, @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Home" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
            </form>
        </li>
    }
    else
    {
        // Hiển thị khi người dùng chưa đăng nhập
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>