@model Cuahangchay.Models.TaiKhoan
@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa tài khoản</h1>
<h3>Bạn có chắc muốn xóa tài khoản này?</h3>
<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Vai trò</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Quyen)</dd>
        <dt class="col-sm-2">Nhân viên</dt>
        <dd class="col-sm-10">@(Model.NhanVien?.HoTen ?? "Không có")</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Username" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="TaiKhoan">Quay lại</a>
    </form>
</div>